<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="save" parameterType="board">
        insert into board_table(boardName, boardTitle, boardOccupation, boardDemploymentType,
                                boardPersonnel, boardWorkperiod, boardWorkDays, boardWorktime,
                                boardGender, boardAge, boardEducation, boardDeadline, boardContext,
                                boardAddress, boardAddress1, boardMoney, boardManagerName, boardEmail,
                                boardMobile,boardDate)
                values (#{boardName},#{boardTitle},#{boardOccupation},#{boardDemploymentType},
                        #{boardPersonnel},#{boardWorkperiod},#{boardWorkDays},#{boardWorktime},
                        #{boardGender},#{boardAge},#{boardEducation},#{boardDeadline}, #{boardContext},
                        #{boardAddress},#{boardAddress1},#{boardMoney},#{boardManagerName},#{boardEmail},
                        #{boardMobile},now())
    </insert>
    <select id="detail" parameterType="String" resultType="board">
        select * from board_table where boardTitle=#{boardTitle}
    </select>
    <select id="searchDetail" parameterType="board" resultType="board">
        select * from board_table where boardGender=#{boardGender} and boardOccupation=#{boardOccupation}
    </select>
    <select id="search" parameterType="String" resultType="board">
        select * from board_table where boardTitle or boardOccupation or boardDemploymentType or
                                         boardWorkperiod or boardWorkDays or boardContext
                                                        like concat ('%', #{q}, '%')
    </select>
    <select id="findByName" parameterType="String" resultType="board">
        select * from board_table where boardName=#{boardName}
    </select>
</mapper>