<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Enterprise">
    <insert id="save" parameterType="enterprise">
        insert into enterprise_table(enterpriseId, enterprisePassword, enterpriseName, enterpriseEmail,
                                     enterpriseProfileName, enterpriseMobile, enterpriseNumber,enterpriseAddress1,
                                     enterpriseAddress2, enterpriseAddress3)
                values (#{enterpriseId}, #{enterprisePassword},#{enterpriseName},#{enterpriseEmail},
                        #{enterpriseProfileName}, #{enterpriseMobile}, #{enterpriseNumber},#{enterpriseAddress1},
                        #{enterpriseAddress2},#{enterpriseAddress3})
    </insert>
    <select id="duplicateCheck" parameterType="String" resultType="String">
        select * from enterprise_table where enterpriseId=#{enterpriseId}
    </select>
    <select id="login" parameterType="enterprise" resultType="enterprise">
        select * from enterprise_table where enterpriseId=#{enterpriseId} and enterprisePassword=#{enterprisePassword}
    </select>
    <select id="detail" parameterType="Long" resultType="enterprise">
        select * from enterprise_table where id=#{id}
    </select>
</mapper>